:root{
    --blue:#2273F8;
    --muda:#55e7fc;
    --hijau:#0162c8;
    --gradient:linear-gradient(90deg, var(--hijau), var(--muda));
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
    
}

*::selection{
    background:var(--blue);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.teks-biru {
  color: #2273F8;
}

.btn{
    font-size: 2rem;
    padding:.7rem 3.5rem;
    border-radius: 5rem;
    color:#fff;
    background:var(--gradient);
    margin-top: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    cursor: pointer;
    border:none;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    height:100%;
    width:0%;
    background:#333;
    z-index: -1;
    transition: .2s linear;
}

.btn:hover::before{
    left: 0;
    width:100%;
}

.heading{
     text-align: center;
    background:var(--blue);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}

.title{
    font-size: 4rem;
    color:#333;
    padding:0 1rem;
    text-align: center;
}

header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:2rem 7%;
    background:var(--blue);
}
.teks-putih {
  color: #fff ;
  
}

.fwb {
  font-weight: bold;
}

header .logo{
    font-size: 2.5rem;
    color:#fff;
}

header .logo i{
    padding:0 .5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li a{
    font-size: 2rem;
    margin-left: 2rem;
    color:#fff;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    position: absolute;
    bottom:-.5rem; right:0;
    width:0%;
    height:.2rem;
    background:#fff;
    transition: .2s linear;
}

header .navbar ul li a.active::before,
header .navbar ul li a:hover::before{
    left:0;
    width:100%;
}

header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:url(../images/homg-img.png) no-repeat;
    background-size: 140% 85%;
    background-position: top;
    padding:1.5rem 7%;
    padding-top: 4rem;;
}

.home .image{
    flex:1 1 40rem;
    padding-top: 6rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
    padding-top: 5rem;
}

.home .content h1{
    font-size: 4rem;
    color:#fff;
}

.home .content p{
    font-size: 1.5rem;
    color:#eee;
    padding:.5rem 0;
}

.home .content .btn{
    background:var(--gradient);
    color:#fff;
    font-weight: bold;
}

.home .content .btn:hover{
    color:#fff;
}



.prevent{
  text-align: center ;
  justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding:2rem;
    padding-top: 6rem;
    margin-top: -50px;
}

.prevent .heading {
}

.pilar{

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.pilar .column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pilar .column .main-image img{
    width: 43vh;
}

.pilar .column .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pilar .column .box-container .box{
    margin:0.5rem;
    text-align: center;
}

.pilar .column .box-container .box img{
    width:10rem;
    padding:1rem;
}

.pilar .column .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}

.pilar .btn {
  background:var(--gradient);
    color:#fff;
    font-weight: bold;
}



.dog-food,
.cat-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.dog-food .image,
.cat-food .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.dog-food .image img,
.cat-food .image img {
  width: 100%;
}

.dog-food .content,
.cat-food .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
  padding: 2rem;
}

.dog-food .content h3,
.cat-food .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.dog-food .content h3 span,
.cat-food .content h3 span {
  color:var(--blue);
}

.dog-food .content p,
.cat-food .content p {
  padding: 1rem 0;
  color: #666;
  font-size: 1.6rem;
}

.dog-food .content .amount,
.cat-food .content .amount {
  font-size: 3.5rem;
  color: #130f40;
  padding: .5rem 0;
}

.dog-food .content a img,
.cat-food .content a img {
  height: 15rem;
  margin-top: 1rem;
}

.dog-food .content a:hover img,
.cat-food .content a:hover img {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.cat-food {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}




.prevent .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.prevent .heading {
  margin-top: 30px;
}

.prevent .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    margin:1rem;
    padding:1rem;
    text-align: center;
    box-shadow: 0 0px 0px 1px #0000001a ;
}

.prevent .box-container .box img{
    height:13rem;
    padding:1rem;
    margin-left: 15px;
}

.prevent .box-container .box h3{
    color:var(--blue);
    font-size: 2rem;
}

.prevent .box-container .box p{
    color:#666;
    font-size: 1.5rem;
    padding:1rem;
}

.prevent .box-container .box:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.aplikasi {
    align-items: center;
    justify-content: center;
    margin: 3rem;
    
}

.aplikasi .row{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.aplikasi .row .image{
  flex:1 1 40rem;
}

.aplikasi .row .image img{
  width:100%;
}

.aplikasi .row .content{
  flex:1 1 40rem;
}

.aplikasi .row .content h3{
  color:var(--blue);
  font-size: 2rem;
  font-weight: bold ;
  text-align: center ;
}

.aplikasi .row .content p{
  padding: 1rem 0;
  color: #666;
  font-size: 1.6rem;
  text-align: center ;
}

.aplikasi .row .content .buttons{
  display: flex;
  justify-content: center ;
  flex-wrap: wrap;
}

.aplikasi .btn {

  background:var(--gradient);
    color:#fff;
    font-weight: bold;
}

.aplikasi .btn:hover {
  color: #fff ;
  
}

.aplikasi .row .content .buttons a:hover{
  opacity: .7;
}

.aplikasi .row .content .buttons a:last-child{
  margin-left: 2rem;
}

.sipaling {
  display: flex;
    align-items: center;
    justify-content: center;
    background:url(../images/home-bg-img.png) no-repeat;
    background-size: cover;
    background-position: center;
    
}

.sipaling .image img{

    width:40vw;

    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}

.sipaling .content{
  text-align: center ;
  justify-content: center ;
  margin-top: -130px;
  flex-wrap: wrap-reverse;
  
}

.sipaling .content h3{
    font-size: 5rem;
    color:#333;
    font-weight: bold ;
}


.sipaling .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
}

.sipaling .btn {
  background:var(--gradient);
    font-weight: bold;
    color:#fff;
}


.sipaling .btn:hover {
 color: #fff;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
  padding: 10px;
}

.slide .video-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.slide .video-container video {
  border-radius: 1rem;
  width: 100%;
}

.slide .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.slide .video-container .controls span {
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background:#BBBBBB;
  cursor: pointer;
  margin: .7rem;
}

.slide .video-container .controls span:hover {
  background: var(--blue);
}

.faq{
    text-align: center;
    padding:.5rem;
    padding-top: 8rem;
    min-height: 100vh;
}

.accordion{
  display: flex;
  max-width: 1010px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 25px;
  margin-top: -28px;
  padding: 45px 90px 45px 60px;
}
.accordion .image-box{
  height: 360px;
  width: 300px;
}
.accordion .image-box img{
  height: 90%;
  width: 90%;
  margin-left: 25px;
  object-fit: contain;
}
.accordion .accordion-text{
  width: 60%;
}
.accordion .accordion-text .title{
  font-size: 20px;
  font-weight: 600;
  color: var(--blue);
  
}
.accordion .accordion-text .faq-text{
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
  display: none;
}
.accordion .accordion-text li{
  list-style: none;
  cursor: pointer;
}
.accordion-text li .question-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-text li .question-arrow .question{
  font-size: 15px;
  font-weight: 500;
  color: var(--blue);
  transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
  font-size: 15px;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
  transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow{
  color: #7d2ae8;
}
.accordion-text li .line{
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}
.accordion-text li.showAnswer p{
  display: block;
}

@media (max-width: 994px) {
  .accordion{
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .accordion .image-box{
    height: 360px;
    width: 220px;
  }
  .accordion .accordion-text{
    width: 63%;
  }
}
@media (max-width: 820px) {
  .accordion{
    flex-direction: column;
  }
  .accordion .image-box{
    height: 360px;
    width: 300px;
    background: #fff;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }
  .accordion .accordion-text{
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 538px) {
  .accordion{
    padding: 25px;
  }
  .accordion-text li p{
    width: 98%;
  }
}

.contact .heading{
  margin-top: -90px;
}
.contact .row{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.contact .row form{
  flex:1 1 40rem;
  padding:2rem;
}

.contact .row .map{
  flex:1 1 40rem;
  border:.1rem solid rgba(0,0,0,.0);
  width:100%;
  padding: 10px;
}

.contact .row form .inputBox{
  position: relative;
}

.contact .row form .inputBox input, .contact .row form .inputBox textarea{
  width: 100%;
  margin:1.5rem 0;
  padding:.7rem 1rem;
  font-size: 1.7rem;
  color:#666;
  border:.1rem solid rgba(0,0,0,.2);
  text-transform: none;
}

.contact .row form .inputBox textarea{
  height: 15rem;
  resize: none;
}

.contact .row form .inputBox label{
  font-size: 1.5rem;
  position: absolute;
  top:2.5rem; left:1rem;
  color:#444;
}

.contact .row form .inputBox input:focus ~ label,
.contact .row form .inputBox textarea:focus ~ label,
.contact .row form .inputBox input:valid ~ label,
.contact .row form .inputBox textarea:valid ~ label{
  top:-.7rem; left:0;
  color:var(--orange);
}




.footer{
    background: #f5f5f5;
}

.footer .box-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  
}

.footer .box-container .box{
    flex:1 1 30rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
  padding: 1rem 0;
  color: #302851;
}


.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box a{
    display: block;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #666;
}
.footer .box-container .box a:hover {
  color: var(--blue);
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  color: var(--blue);
  padding-right: .5rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #666;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span {
  color: #fa1d86;
}


.scroll-top{

    position: fixed;
    bottom:3.5rem; right:2rem;
    z-index: 1000;
    
}

.scroll-top img{
    width:7rem;
    animation: float 2s linear infinite;
}

@keyframes float{
    100%, 0%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-2rem);
    }

}


 











/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }
    
    header .navbar{
        position: fixed;
        top:-120%; left:0;
        width:100%;
        background:#fff;
        opacity: 0;
    }

    header .navbar ul{
        padding:2rem 0;
        flex-flow: column;
        justify-content: center;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        color:#333;
        display: block;
        margin:1rem 0;
    }

    header .navbar ul li a::before{
        background:#333;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top:7.4rem;
        opacity: 1;
    }

    .home .content{
        text-align: center;
    }
    
    .sipaling{
        flex-flow: column-reverse;
    }

    .sipaling .image img{
        width:100%;
    }

    .sipaling .content h3{
        font-size: 2rem;
        font-weight: bold;
    }

    .sipaling .content p{
        font-size: 1.5rem;
    }

    .features .description{
        width:auto;
        padding:1rem;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .home .content h1{
        font-size: 3.5rem;
    }

    .about .image img{
        width:80%;
        height:auto;
    }
    
} 

/* media queries  */


@media (max-width:991px){

  section{
    padding:0 3%;
    padding-top: 7.5rem;
    padding-bottom: 3rem;
  }

}

